@charset "utf-8";

/* font-family: "Staatliches", sans-serif; */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'GmarketSansMedium';
    color: #333;
    line-height: 1;
}

html, body {
    /* font-size: 10px; */ /* 폰트사이즈를 10px로 설정해두면 rem계산하기 편함 */
    /* 1rem */
    font-size: 62.5%;
}

.mobile {
    display: none;
}

.cont02 .inner .mobile_button {
    display: none;
}

.mobile_bg {
    display: none;
}

.mobile_btn {
    display: none;
}

.cont02 .inner .list .item:last-child {
    display: none;
}

/* 헤더 */

.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

.header.on {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(255, 253, 164, 0.568);
}

.background-active.header{
    background-color: rgba(255, 253, 164, 0.568);
}

.header .inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    width: 195px;
}

.header h1 a img {
    width: 100%;
    display: block;
}

.header .pc_util {
    order: 2;
}

.header .pc_util .util_txt {
    display: flex;
    align-items: center;
    font-family: 'GmarketSansMedium';
    font-size: 1.6rem;
}

.header .pc_util .util_txt li {
    padding-right: 10px;
}

.header .pc_util .util_txt img {
    height: 25px;
}

.header .pc_gnb {
    display: flex;
    height: 100%;
}

.header .pc_gnb .depth01 {
    text-align: center;
    position: relative;
    font-family: 'Diphylleia-Regular';
    font-size: 1.8rem;
    font-weight: 700;
}

.header .pc_gnb .depth01>a {
    display: block;
    line-height: 100px;
    padding:0 20px;
}

.header .pc_gnb .depth02 {
    display: none;
    width: 100px;
    position: absolute;
    top:100px;
    left:0;
    text-align: center;
    background-color: aliceblue;
    z-index: 99;
}

.header .pc_gnb .depth02 li {
    padding: 20px 0;
    position: relative;
}

.header .pc_gnb .depth02 li>a {
    display: block;
    font-size: 14px;
}

.header .pc_gnb .depth02 li:hover {
    background-color: rgba(253, 157, 32, 0.5);
    color: #fff;
}

.header .pc_gnb .depth02 li:first-child::after{
    display: none;
}

.header .pc_gnb .depth02 li::after {
    content: '';
    margin: 0 auto;
    position: absolute;
    top:0;
    left: 5px;
    height: 1px;
    width: 90px;
    background-color: #333;
    display: block;
}

.header .marker{
        width: 100px;
        height: 1px;
        border: 3px solid rgb(230, 62, 90);
        position: absolute;
        left:-1000px;
         bottom: 0;
}
/* 메인비쥬얼 */

.main_visual{
    height: calc(100vh - 100px);
    position: relative;
}

.main_visual figure {
    height: 100vh;
}

.main_visual figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div{
    max-width: 1280px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual div h2{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.main_visual div p {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.main_visual div a {
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid #fff;
}

/* 메인 카테고리 */

.main_category {
    margin: 15rem auto;
}

.main_category ul {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    width: calc(100% - 30px);
}

.main_category ul li{
    width: 168px; /* 전체너비 / 7(몇개로 나눌 것인지) - 20px(서로간의 여백을 얼마나 줄것인지) */
    height: 168px;
    border-radius: 50%;
    background-color: #928980;
    color: #fff;
    transition: transform 3s ease;
}

.main_category ul li:first-child {
    background:url(../img/신제품.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_category ul li:nth-child(2) {
    background:url(../img/베스트.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_category ul li:nth-child(3) {
    background:url(../img/향수.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_category ul li:nth-child(4) {
    background:url(../img/핸드크림.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_category ul li:nth-child(5) {
    background:url(../img/핸드워시.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_category ul li:last-child {
    background:url(../img/EVENT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_category ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* 콘텐츠 작성 */

.cont01{
    background: url(../img/bg.jpg) center center / cover fixed no-repeat;;
    padding: 15rem 0;
}

.cont01 .inner {
    max-width: 1280px;
    margin: 0 auto;
}

.cont01 .inner h3{
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #fff;
}

.cont01 .inner .list {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.cont01 .inner .list .item {
    width: 31.71%;/* 406 / 1280 * 100 */
    background-color: #fff;
    padding: 0.9rem;
    border-radius: 30px;
}

.cont01 .inner .list .item figure {
    max-height: 450px;
    height: 35.15vw;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.cont01 .inner .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.cont01 .inner .list .item img + img/* + =>바로 뒤에 있는 형제 선택자 + / ~ => 뒤에 있는 모든 형제 선택자*/ {
    opacity: 0;
    transition: all 1.5s;
    height: 0;
    top:50%;
    transform: translateY(-50%);
} /* 호버 했을때 뜨는 이미지 */

.cont01 .inner .list .item figure:hover img + img {
    opacity: 1;
    height: 100%;
}

.cont01 .inner .list .item .info {
    padding: 20px 0;
}

.cont01 .inner .list .item .info h4 {
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}

.cont01 .inner .list .item .info div {
    padding-top: 15px;
    text-align: right;
}

.cont01 .inner .list .item .info div span {
    color: #999999d3;
    text-decoration: line-through;
    font-size: 1.6rem;
}

.cont01 .inner .list .item .info div strong {
    color: #d84a4a;
    font-size: 1.8rem;
}

/* 콘텐츠2 */

.cont02 {
    padding:15rem 0 0;
}

.cont02 .inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.cont02 .inner .title_bg {
    position: relative;
    max-width: 1280px;
    width: 31.25%;
}

.cont02 .inner .title_bg figure {
    max-height: 500px;
    height: 39.06vw;
}

.cont02 .inner .title_bg figure img {
    width: 100%;
    height: 100%;
}

.cont02 .inner .title_bg::after{
    content: url(../img/tape.png);
    transform: rotate(139deg);
    position: absolute;
    top:0;
    left: -45px;
}

.cont02 .inner h3 {
    font-family: "Staatliches", sans-serif;
    cursor: default;
    font-size: 3.5rem;
    position: absolute;
    top:18%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    /* -webkit-text-stroke: 1px #333; */
    /* animation: motion 0.7s linear 0s infinite alternate; margin-top: 0; */
}

/* @keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
} */

.cont02 .inner .view_more {
    position: absolute;
    bottom: 10%;
    right: 20%;
}

.cont02 .inner .view_more a {
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    color: #fff;
}

.cont02 .inner .list {
    display: flex;
    justify-content: space-between;
}

.cont02 .inner .list .item {
    max-width: 1280px;
    width: 31.25%;
    padding: 0 0.5rem;
}

.cont02 .inner .list .item figure {
    max-height: 400px;
    height: 44.44vw;
    border-radius: 30px;
    overflow: hidden;
}

.cont02 .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    /*webkit =>인터넷 브라우저마다 버전이 달라 호환이 안될 수 있으므로 
    webkit을 추가한 속성, 추가하지 않은 속성을 각각 입력해준다.  */
}

.cont02 .inner .list .item:hover figure img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.cont02 .inner .list .item h4 {
    font-size: 1.6rem;
    margin: 20px 0 10px;
    font-weight: normal;
}

.cont02 .inner .list .item strong {
    font-size: 1.4rem;
    font-weight: normal;
    color: #333
}

/* 콘텐츠3 */

.cont03 {
    padding: 15rem 0 0;
}

.cont03 img {
    max-width: 100%;
}

/* 텍스트 슬라이드 */

.text_slide {
    overflow: hidden;
}

.text_slide p {
    font-family: "Staatliches", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #333;
    animation: textslide 20s infinite linear;
    white-space: nowrap;
}

@keyframes textslide {
    100% {
        transform: translateX(-100%);/* 시작이 0일때는 생략가능 */
    }
}

/* 콘텐츠4 */

.cont04 {
    padding: 5rem 0 15rem;
}

.cont04 a span {
    display: block;
    font-size: 1.4rem;
    text-align: right;
    margin-bottom: 1rem;
}

.cont04 .inner {
    max-width: 1280px;
    margin: 0 auto;
}

.cont04 .inner .list {
    display: flex;
    justify-content: space-between;
}

.cont04 .inner .list .event {
    width: calc(100% / 2 - 40px);
    position: relative;
}

.cont04 .inner .list .event::before {
    content: '';
    left: 107%;
    height: 900px;
    border: 1px solid #9999;
    display: block;
    position: absolute;
    top: 2rem;
    bottom: 12rem;
}

.cont04 .inner .list .event:nth-child(2)::before {
    display: none;
}

.cont04 .inner .list .event figure {
    max-height: 730px;
    height: 57.03vw;
}

.cont04 .inner .list .event figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont04 .inner .list .event .content_txt {
    padding: 20px 10px;
    height: 20px;
}

.cont04 .inner .list .event .title_txt h4 {
    font-family: 'GmarketSansMedium';
    padding: 2rem 0;
    font-size: 2.8rem;
}

.cont04 .inner .list .event .content_txt p {
    font-family: 'GmarketSansMedium';
    font-size: 1.2rem;
    padding: 1rem 0;
}

.cont04 .inner .list .event .content_txt .btn {
    margin-top: 2.5rem;
    text-align: right;
    font-size: 1.4rem;
}

.cont04 .inner .list .event .content_txt .btn button {
    border: 0;
    padding: 8px 16px;
    background-color: #c7d5e0;
}

.footer {
    margin-top: 150px;
    border-top: 1px solid #333;
}

.footer .inner {
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.footer .inner .footer_wrap {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
}

.footer .inner .footer_wrap .company_info {
    width: 45%;
    padding: 20px;
    font-size: 1.4rem;
    border-right: 1px solid #333;
}

.footer .inner .footer_wrap .company_info li {
    padding: 0.5rem 0;
}

.footer .inner .footer_wrap .about_company {
    width: 45%;
    padding: 20px;
    font-size: 1.6rem;
    border-right: 1px solid #333;
}

.footer .inner .footer_wrap .about_company ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .inner .footer_wrap .about_company li {
    padding: 1rem 0;
}

.footer .inner .footer_wrap .sns {
    width: 45%;
    padding: 20px;
}

.footer .inner .footer_wrap .sns p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer .inner .footer_wrap .sns ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer .inner .footer_wrap .sns ul li img {
    width: 30px;
    height: 30px;
}

.footer .copyright {
    border-top: 1px solid #333;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
}

/* 반응형 */

@media screen and (max-width:1024px) {
    .header {
        background-color: #fff;
        height: 80px;
    }

    .header.on {
        background-color: #fdefbd;
    }
    
    .mobile {
        display: block;
    }

    .mobile_bg {
        display: none;
    }

    .mobile_nav {
        display: none;
    }

    .mobile_btn {
        display: none;
    }

    .header .inner {
        height: 100%;
    }

    .header .pc_util .util_txt li:last-child {
        display: none;
    }
    
    .header .inner .pc_nav {
        display: none;
    }

    .header .pc_util .util_txt {
        font-size: 1.2rem;
    }

    .mobile_open button {
        padding: 0 20px;
        border: 0;
        background: transparent;
        font-size: 1.6rem;
        font-family: 'GmarketSansMedium';
    }

    .header h1 {
        width: 160px;
        order: 1;
    }

    .main_category ul {
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cont01 {
        padding: 7rem 0 0;
    }

    .cont01 .inner .list .item {
        background-color: transparent;
        width: 35.71%;
    }

    .cont01 .inner .list .item figure {
        height: 45.15vw;
    }

    .cont01 .inner .list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cont01 .inner .list .item {
        width: 32.71%;
    }
    .cont01 .inner h3 {
        text-align: center;
    }

    .cont01 .inner .list .item figure:hover img + img {
        display: none;
    }

    .cont02 {
        padding: 7rem 0 0;
    }

    .cont02 .inner {
        flex-direction: column;
    }

    .cont02 .inner .title_bg figure img {
        display: none;
    }
    .cont02 .inner .title_bg::after {
        display: none;
    }
    .cont02 .inner .title_bg figure {
        height: 6.06vw;
    }
    .cont02 .inner .view_more a {
        display: none;
    }

    .cont02 .inner .list .item figure img {
        filter: grayscale(0%);
    }

    .cont02 .inner .mobile_button {
        margin-top: 2rem;
        border-radius: 15px;
        overflow: hidden;
    }

    .cont02 .inner .mobile_button span {
        display: block;
        font-size: 1.6rem;
        text-align: center;
        line-height: 40px;
        width: 150px;
        height: 40px;
        background-color: #f1caa6;
        color: #fff;
    }

    .cont03 {
        padding: 7rem 0 0;
    }

    .cont04 .inner .list .event::before {
        left: 109%;
        height: 840px;
    }
}/* 1024px */

@media screen and (max-width:960px) {
    .mobile_btn {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .mobile_btn button {
        font-size: 1.6rem;
        width: 150px;
        height: 40px;
        border: 0;
        color: #fff;
        background-color: #f1caa6;
        border-radius: 15px;
    }

    .cont04  {
        padding: 7rem  0 0;
    } 
    .cont04 .inner .list {
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }
    .cont04 .inner .list .event::before {
        display: none;
    }
    .cont04 .inner .list .event .content_txt {
        height: 100%;
    }

    .cont04 a span {
        display: none;
    }

    .cont04 .inner .list .event {
        width: 80%;
    }
    .cont04 .inner .list .event figure {
        max-height: 940px;
        height: 96.09vw;
    }
    
    .footer .inner .footer_wrap .company_info {
        font-size: 1.2rem;
    }
}/* 960px */

@media screen and (max-width:720px) {
    .pc_bg {
        display: none;
    }

    .mobile_bg {
        display: block;
    }
    .main_visual div h2 {
        display: none;
    }
    .main_visual div p {
        display: none;
    }
    .main_visual div a {
        display: none;
    }

    .main_category ul li a {
        font-size: 1.6rem;
    }
    .cont01 {
        overflow-x: auto;
    }
    .cont01 .inner h3 {
        text-align: left;
        margin-left: 1rem;
    }
    .cont01 .inner .list {
        flex-wrap: nowrap;
        width: 1280px;
    }
    .cont01 .inner .list .item {
        width: 41.71%;
    }
    .cont01 .inner .list .item figure {
        height: 57.15vw;
    }
    .cont01 .inner .list .item .info h4 {
        font-size: 1.5rem;
        height: 20px;
    }
    .cont01 .inner .list .item .info div strong {
        font-size: 1.6rem;
    }
    .cont01 .inner .list .item .info div span {
        font-size: 1.4rem;
    }
    .cont02 .inner .list .item {
        width: 33.25%;
    }
    .cont02 .inner .list .item h4 {
        font-size: 1.4rem;
    }

    .cont02 .inner .list .item strong {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:520px) {
    .cont02 .inner {
        gap: 4rem;
    }
    .cont01 .inner h3 {
        font-size: 3rem;
    }

    .cont01 .inner .list .item figure {
        height: 75.15vw;
    }

    .cont02 .inner .list {
        flex-wrap: wrap;
        gap:1rem
    }
    .cont02 .inner .list .item {
        width: 48.25%;
    }
    
    .cont02 .inner .list .item figure {
        height: 59.44vw;
    }
    .cont02 .inner .list .item:last-child {
        display: block;
    }
    .cont02 .inner .list .item h4 {
        text-align: center;
    }
    .cont02 .inner .list .item strong {
        display: block;
        text-align: center;
    }

    .cont04 .inner .list .event .title_txt h4 {
        font-size: 2rem;
    }

    .footer .inner .footer_wrap {
        flex-direction: column;
    }
    .footer .inner .footer_wrap .company_info {
        border-right: 0;
        width: 100%;
        order: 3;
    }
    .footer .inner .footer_wrap .about_company {
        width: 100%;
        border-right: 0;
    }
    .footer .inner .footer_wrap .about_company ul {
        align-items: flex-start;
    }
    .footer .inner .footer_wrap .sns {
        width: 100%;
    }
    .footer .inner .footer_wrap .sns p {
        text-align: left;
    }
    .footer .inner .footer_wrap .sns ul {
        justify-content: flex-start;
    }

}

@media screen and (max-width:420px) {
    .header h1 {
        width: 130px;
    }

    .mobile_open button {
        font-size: 1.4rem;
    }
    .cont01 .inner .list .item figure {
        height: 90.15vw;
    }

    .cont02 .inner h3 {
        font-size: 2.5rem;
    }
    .cont02 .inner .list .item h4 {
        font-size: 1.2rem;
    }
    .cont02 .inner .list .item strong {
        font-size: 1rem;
    }
}

